<!-- its one line to include in all file to get navbar same in alll page  -->
<%- include('partials/head') %>



    <%- include('partials/navbar') %>

    <h1>
        All The Cats
    </h1>
    <!-- loops in ejs  -->
    <ul>

   <% for(let cat of cats){ %>
        <li><%=cat%></li>
   <% } %>
</ul>
</body>
</html>