<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <!-- EJS Interpolation syntax -->
   
    <h1>The Home Page <%="hello world".toUpperCase()%> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At animi reprehenderit voluptate temporibus placeat voluptatibus odit iste, ad omnis voluptas ipsam officiis adipisci porro culpa nemo ullam optio et dicta! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus cum reprehenderit aut! Sit commodi ab iste tempore quo laudantium incidunt eos totam, accusantium esse quod sunt suscipit, corrupti neque minus!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti tempora, blanditiis libero excepturi sint fuga est labore veniam eaque distinctio provident veritatis dicta voluptatibus quo adipisci cupiditate quas harum. Eum.</p>
</body>
</html>